@import "tailwindcss";
@plugin "daisyui";


@theme {
  /* Tailwind screen sizes config */
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
}


.nav-link {
  @apply hover:bg-[#EAEAEA] hover:text-[#2E2B2C] p-1.5 transition-colors duration-300 ease-in-out rounded-sm;
}