@import "tailwindcss";
@plugin "daisyui";

/* For the email input in the Newsletter component */
input[type="email"]:-webkit-autofill,
input[type="email"]:-webkit-autofill:hover,
input[type="email"]:-webkit-autofill:focus,
input[type="email"]:-webkit-autofill:active {
    
  /* To remove the autofill background color */
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;

    /* To maintain text color */
    -webkit-text-fill-color: #2E2B2C !important; 
    color: #2E2B2C !important;

    /* To remove any autofill border color */
    border: 2px solid #2E2B2C !important;
}


@theme {
  /* Tailwind screen sizes config */
  --breakpoint-*: initial;
  --breakpoint-sm: 600px;
  --breakpoint-md: 932px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1595px;
}


html[data-theme="myLightTheme"] {
  background-color: #EAEAEA; /* text color */
  color: #2E2B2C; /* background color */
}

html[data-theme="myDarkTheme"] {
  background-color: #2E2B2C; /* text color */
  color: #EAEAEA; /* text color */
}

.nav-links {
  @apply hover:bg-[#2E2B2C] hover:text-[#EAEAEA] p-1.5 transition-colors duration-300 ease-in-out rounded-sm;
}

.social-links {
  @apply px-1.5 py-0.5 gap-2 flex text-[#2E2B2C] bg-amber-300 items-center rounded-sm cursor-pointer border-1 transform hover:-translate-y-1 transition-transform duration-300;
}

.featured {
  @apply mt-4 border-2 border-[#2E2B2C] p-4 rounded-sm
}

.blogs {
  @apply border-2 border-[#2E2B2C] p-4 rounded-sm flex flex-col items-center text-center
}

.tags {
  @apply bg-[#2E2B2C] text-[#EAEAEA] px-2.5 py-1 rounded-full
}


html[data-theme="myDarkTheme"] {
  .nav-links {
    @apply hover:bg-[#EAEAEA] hover:text-[#2E2B2C]
  }

  .featured {
    @apply text-[#EAEAEA] border-[#EAEAEA]
  }

  .blogs {
    @apply text-[#EAEAEA] border-[#EAEAEA]
  }

  .tags {
    @apply bg-[#EAEAEA] text-[#2E2B2C]
  }

  .tunes {
   @apply fill-[#EAEAEA]
  }
}

